<div class="form-switcher">
    <button (click)="selectForm('template')" [class.active]="selectedForm === 'template'">Template-Driven Form</button>
    <button (click)="selectForm('reactive')" [class.active]="selectedForm === 'reactive'">Reactive Form</button>
</div>

<!-- Template-Driven Form -->
<section *ngIf="selectedForm === 'template'" class="form-container">
    <form (ngSubmit)="onTemplateSubmit()" #templateForm="ngForm">
        <h2>📄 Template-Driven Form</h2>

        <div class="form-group">
            <label for="t-name">Name</label>
            <input type="text" id="t-name" name="name" [(ngModel)]="templateContact.name" required />
        </div>

        <div class="form-group">
            <label for="t-email">Email</label>
            <input type="email" id="t-email" name="email" [(ngModel)]="templateContact.email" required />
        </div>

        <div class="form-group">
            <label for="t-message">Message</label>
            <textarea id="t-message" name="message" [(ngModel)]="templateContact.message" rows="4" required></textarea>
        </div>

         <button type="submit" [disabled]="templateSubmitted">
            {{ templateSubmitted ? 'Submitted' : 'Send Message' }}
        </button>
        <p *ngIf="templateSubmitted" class="success-msg">
            ✅ Thank you, {{ templateContact.name }}!
        </p>
    </form>
</section>

<!-- Reactive Form -->
<section *ngIf="selectedForm === 'reactive'" class="form-container">
    <form [formGroup]="reactiveForm" (ngSubmit)="onReactiveSubmit()">
        <h2>⚙️ Reactive Form</h2>

        <div class="form-group">
            <label for="r-name">Name</label>
            <input type="text" id="r-name" formControlName="name" />
        </div>

        <div class="form-group">
            <label for="r-email">Email</label>
            <input type="email" id="r-email" formControlName="email" />
        </div>

        <div class="form-group">
            <label for="r-message">Message</label>
            <textarea id="r-message" formControlName="message" rows="4"></textarea>
        </div>
        <button type="submit" [disabled]="reactiveForm.invalid">Submit</button>

        <p *ngIf="reactiveForm.valid && reactivesubmitted" class="success-msg">
            ✅ Thank you, {{ reactiveForm.get('name')?.value }}!
        </p>
    </form>
</section>